@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: Inter;
}
header > nav > a{
    font: 400 normal 18px Inter;
    text-underline-offset: 7px;
    display: block;
    margin: -128px 0px 0px 164px;
    color: black;

}
header > nav > a:hover{
    opacity: 0.5;
    transition: 0.5s;
}
header > nav > img{
    display: block;
    text-align: center;
    cursor: pointer;
    margin: 30px auto -60px auto;
}
header > nav > img{
    width: 200px;
}
main > .p1{
    margin: 165.7px auto 200px auto;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}
main > .p2 > .p2-a{
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    background-color: #8C9484;
    margin: -200px 0px 100px 0px;
}
main > .p1 > .p1-a{
    width: 415px;
}
main > .p1 > .p1-a > h1{
    font: 700 normal 60px Inter;
    margin-bottom: 7.5px;
}
main .p1 > .p1-a > .crp{
    font: 400 normal 18px Inter;
    margin-bottom: 50px;
}
main > .p1 > .p1-a > p{
    font: 400 normal 28px Inter;
    width: 67vh;
}
main > .p1 > .p1-a > .textinho{
    font: 400 normal 28px Inter;
    width: 67vh;
    line-height: 36px;
    margin-bottom: 0px;
}
main > .p1 > .p1-a > .links > .contato{
    border-radius: 10px;
    padding: 20px 25px;
    font: 400 normal 19px Inter;
    text-decoration: none;
    color: white;
    background-color: #404E34;
}
main > .p1 > .p1-a > .links > .contato:hover{
    background-color: #00A241;
    transition: 0.2s;
}
main > .p1 > .p1-b > .bola{
    width: 40vh;
    border-radius: 100%;
    height: 40vh;
    z-index: -1;
    right: 200px;
    top: 550px;
    position: absolute;
    background-color: #404E34;
    opacity: 0.6;
}
main > .p1 > .p1-b > img{
    width: 500px;
    margin: 50px auto 50px auto;
    display: block;
    border-radius: 100%;
}
main > .p1 > .p1-a > .links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
main > .p1 > .p1-a > .links > .zap{
    margin: 50px;
    background-color: white;
}
main > .p1 > .p1-a > .links > .zap > img{
    width: 60px
}
main > .p1 > .p1-a > .links > .zap > img:hover{
    opacity: 0.5;
    transition: 0.5s;
}
main > .p2 > .p2-a > article{
    width: 400px;
    margin-top: 50px;
    margin-bottom: 125px;
}
main > .p2 > .p2-a > article > h2{
    font: 600 normal 37px Inter;
    margin-bottom: 40px;
}
main > .p2 > .p2-a > article > p{
    font: 400 normal 18px Inter;
    text-align: justify;
    margin-bottom: 70px;
    line-height: 27px;
}
main > .p2 > .p2-a > img{
    width: 450px;
    margin-top: -40px;
}
main > .p2 > .p2-a > article > a{
    border-radius: 10px;
    padding: 20px 35px;
    font: 400 normal 19px Inter;
    text-decoration: none;
    color: white;
    background-color: #404E34;
}
main > .p2 > .p2-a > article > a:hover{
    background-color: #00A241;
    transition: 0.2s;
}
main > .p3 > .p3-a > article{
    width: 400px;
    margin-top: 50px;
}
main > .p3 > .p3-a > article > h2{
    font: 600 normal 37px Inter;
    margin-bottom: 40px;
}
main > .p3 > .p3-a > article > p{
    font: 400 normal 18px Inter;
    text-align: justify;
    margin-bottom: 70px;
    line-height: 27px;
}
main > .p3 > .p3-a > img{
    width: 400px;
    margin-top: 50px;
    border-radius: 10px;
}
main > .p3 > .p3-a > article > a{
    border-radius: 10px;
    padding: 20px 25px;
    font: 400 normal 19px Inter;
    text-decoration: none;
    color: white;
    background-color: #404E34;
}
main > .p3 > .p3-a > article > a:hover{
    background-color: #00A241;
    transition: 0.2s;
}
main > .p3 > .p3-a{
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    background-color: white;
    margin: -150px 0px 100px 0px;
}
main > .p4 > .p4-a > article{
    width: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}
main > .p4 > .p4-a > article > h2{
    font: 600 normal 37px Inter;
    margin-bottom: 40px;
}
main > .p4 > .p4-a > article > p{
    font: 400 normal 18px Inter;
    text-align: justify;
    margin-bottom: 70px;
    line-height: 27px;
}
main > .p4 > .p4-a > img{
    width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 300px;
}
main > .p4 > .p4-a > article > a{
    border-radius: 10px;
    padding: 20px 25px;
    font: 400 normal 19px Inter;
    text-decoration: none;
    color: white;
    background-color: #404E34;
}
main > .p4 > .p4-a > article > a:hover{
    background-color: #00A241;
    transition: 0.2s;
}
main > .p4 > .p4-a{
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    background-color: #8C9484;
    margin: -40px 0px 100px 0px;
}
main > .p5 > .p5-a{
    margin-top: -75px;
    margin-bottom: 30px;
}
main > .p5 > .p5-a > article{
    margin: auto;
    width: 80vw
}
footer > p{
    font: normal 300 1em Inter;
    text-align: center;
    margin-bottom: 20px;
}
footer > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
footer > div > a > img{
    width: 25px;
}
footer > .crpfot{
    margin-top: -15px;
    font: normal 300 0.8em Inter;
}
@media screen and (max-width: 1420px) {
    .bola{
        display: none;
    }
}
@media screen and (max-width: 1143px){
    header > nav > a{
        display: none;
    }
}
@media screen and (max-width: 849px){
    header > nav > img{
        width: 175px;
    }
    main > .p1 > .p1-a{
        width: 415px;
    }
    main > .p1 > .p1-a > h1{
        font: 700 normal 50px Inter;
        margin-bottom: 7.5px;
    }
    main .p1 > .p1-a > .crp{
        font: 400 normal 17px Inter;
        margin-bottom: 50px;
    }
    main > .p1 > .p1-a > p{
        font: 400 normal 26px Inter;
        width: 67vh;
    }
    main > .p1 > .p1-a > .textinho{
        font: 400 normal 25px Inter;
        width: 67vh;
        line-height: 36px;
        margin-bottom: 0px;
    }
    main > .p1 > .p1-a > .links > .contato{
        border-radius: 10px;
        padding: 20px 25px;
        font: 400 normal 19px Inter;
        text-decoration: none;
        color: white;
        background-color: #404E34;
    }
    main > .p1 > .p1-a > .links > .contato:hover{
        background-color: #00A241;
        transition: 0.2s;
    } 
    main > .p2 > .p2-a > article{
        width: 400px;
        margin-top: 50px;
        margin-bottom: 125px;
    }
    main > .p2 > .p2-a > article > h2{
        font: 600 normal 36px Inter;
        margin-bottom: 40px;
    }
    main > .p2 > .p2-a > article > p{
        font: 400 normal 17px Inter;
        text-align: justify;
        margin-bottom: 70px;
        line-height: 27px;
    }
    main > .p2 > .p2-a > img{
        width: 425px;
        margin-top: 50px;
    }
    main > .p2 > .p2-a > article > a{
        border-radius: 10px;
        padding: 20px 35px;
        font: 400 normal 19px Inter;
        text-decoration: none;
        color: white;
        background-color: #404E34;
    }
    main > .p2 > .p2-a > article > a:hover{
        background-color: #00A241;
        transition: 0.2s;
    }
    main > .p3 > .p3-a > article{
        width: 400px;
        margin-top: 50px;
    }
    main > .p3 > .p3-a > article > h2{
        font: 600 normal 35px Inter;
        margin-bottom: 40px;
    }
    main > .p3 > .p3-a > article > p{
        font: 400 normal 17px Inter;
        text-align: justify;
        margin-bottom: 70px;
        line-height: 27px;
    }
    main > .p3 > .p3-a > img{
        width: 375px;
        margin-top: 50px;
        border-radius: 10px;
    }
    main > .p3 > .p3-a > article > a{
        border-radius: 10px;
        padding: 20px 25px;
        font: 400 normal 19px Inter;
        text-decoration: none;
        color: white;
        background-color: #404E34;
    }
    main > .p3 > .p3-a > article > a:hover{
        background-color: #00A241;
        transition: 0.2s;
    }
    main > .p3 > .p3-a{
        width: 100vw;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        justify-items: center;
        background-color: white;
        margin: -150px 0px 100px 0px;
    }
    main > .p4 > .p4-a > article{
        width: 400px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    main > .p4 > .p4-a > article > h2{
        font: 600 normal 35px Inter;
        margin-bottom: 40px;
    }
    main > .p4 > .p4-a > article > p{
        font: 400 normal 17px Inter;
        text-align: justify;
        margin-bottom: 70px;
        line-height: 27px;
    }
    main > .p4 > .p4-a > img{
        width: 400px;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 300px;
    }
    main > .p4 > .p4-a > article > a{
        border-radius: 10px;
        padding: 20px 25px;
        font: 400 normal 19px Inter;
        text-decoration: none;
        color: white;
        background-color: #404E34;
    }
    main > .p4 > .p4-a > article > a:hover{
        background-color: #00A241;
        transition: 0.2s;
    }
    main > .p4 > .p4-a{
        width: 100vw;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        justify-items: center;
        margin-bottom: 100px;
        background-color: #8C9484;
    }
}
@media screen and (max-width: 525px){
    header > nav > img{
        width: 150px;
    }
    main > .p1 > .p1-a{
        width: 415px;
    }
    main > .p1 > .p1-a > h1{
        text-align: center;
        font: 700 normal 47px Inter;
        margin-bottom: 7.5px;
    }
    main > .p1 > .p1-b > img{
        width: 400px;
    } 
    main .p1 > .p1-a > .crp{
        text-align: center;
        font: 400 normal 15px Inter;
        margin-bottom: 50px;
        width: 400px;
    }
    main > .p1 > .p1-a > p{
        font: 400 normal 24px Inter;
        width: 50vh;
    }
    main > .p1 > .p1-a > .textinho{
        text-align: center;
        font: 400 normal 22px Inter;
        width: 50vh;
        margin: auto;
        line-height: 36px;
        margin-bottom: 0px;
    }
    main > .p1 > .p1-a > .links > .contato{
        border-radius: 10px;
        padding: 20px 25px;
        font: 400 normal 19px Inter;
        text-decoration: none;
        color: white;
        background-color: #404E34;
    }
    main > .p1 > .p1-a > .links > .contato:hover{
        background-color: #00A241;
        transition: 0.2s;
    } 
    main > .p2 > .p2-a > article{
        width: 375px;
        margin-top: 50px;
        margin-bottom: 125px;
    }
    main > .p2 > .p2-a > article > h2{
        font: 600 normal 33px Inter;
        margin-bottom: 40px;
    }
    main > .p2 > .p2-a > article > p{
        font: 400 normal 16px Inter;
        text-align: justify;
        margin-bottom: 70px;
        line-height: 27px;
    }
    main > .p2 > .p2-a > img{
        width: 375px;
        margin-top: 50px;
    }
    main > .p2 > .p2-a > article > a{
        border-radius: 10px;
        padding: 20px 35px;
        font: 400 normal 16px Inter;
        text-decoration: none;
        color: white;
        background-color: #404E34;
    }
    main > .p2 > .p2-a > article > a:hover{
        background-color: #00A241;
        transition: 0.2s;
    }
    main > .p3 > .p3-a > article{
        width: 375px;
        margin-top: 50px;
    }
    main > .p3 > .p3-a > article > h2{
        font: 600 normal 33px Inter;
        margin-bottom: 40px;
    }
    main > .p3 > .p3-a > article > p{
        font: 400 normal 15px Inter;
        text-align: justify;
        margin-bottom: 70px;
        line-height: 27px;
    }
    main > .p3 > .p3-a > img{
        width: 350px;
        margin-top: 50px;
        border-radius: 10px;
    }
    main > .p3 > .p3-a > article > a{
        border-radius: 10px;
        padding: 20px 25px;
        font: 400 normal 16px Inter;
        text-decoration: none;
        color: white;
        background-color: #404E34;
    }
    main > .p3 > .p3-a > article > a:hover{
        background-color: #00A241;
        transition: 0.2s;
    }
    main > .p3 > .p3-a{
        width: 100vw;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        justify-items: center;
        background-color: white;
        margin: -150px 0px 100px 0px;
    }
    main > .p4 > .p4-a > article{
        width: 375px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    main > .p4 > .p4-a > article > h2{
        font: 600 normal 30px Inter;
        margin-bottom: 40px;
    }
    main > .p4 > .p4-a > article > p{
        font: 400 normal 16px Inter;
        text-align: justify;
        margin-bottom: 70px;
        line-height: 27px;
    }
    main > .p4 > .p4-a > img{
        width: 375px;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 300px;
    }
    main > .p4 > .p4-a > article > a{
        border-radius: 10px;
        padding: 20px 25px;
        font: 400 normal 16px Inter;
        text-decoration: none;
        color: white;
        background-color: #404E34;
    }
    main > .p4 > .p4-a > article > a:hover{
        background-color: #00A241;
        transition: 0.2s;
    }
    main > .p4 > .p4-a{
        width: 100vw;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        justify-items: center;
        margin-bottom: 100px;
        background-color: #8C9484;
    }
}
@media screen and (max-width: 425px){
    header > nav > img{
        width: 140px;
    }
    main > .p1 > .p1-a{
        width: 400px;
    }
    main > .p1 > .p1-a > h1{
        font: 700 normal 40px Inter;
        margin-bottom: 7.5px;
        text-align: center;
    }
    main > .p1 > .p1-b > img{
        width: 325px;
    } 
    main .p1 > .p1-a > .crp{
        font: 400 normal 14px Inter;
        margin-bottom: 50px;
    }
    main > .p1 > .p1-a > p{
        font: 400 normal 23px Inter;
        width: 67vh;
    }
    main > .p1 > .p1-a > .textinho{
        font: 400 normal 20px Inter;
        text-align: center;
        width: 50vh;
        line-height: 36px;
        margin-bottom: 0px;
    }
    main > .p1 > .p1-a > .links > .contato{
        border-radius: 10px;
        padding: 20px 25px;
        font: 400 normal 14px Inter;
        text-decoration: none;
        color: white;
        background-color: #404E34;
    }
    main > .p1 > .p1-a > .links > .contato:hover{
        background-color: #00A241;
        transition: 0.2s;
    } 
    main > .p2 > .p2-a > article{
        width: 300px;
        margin-top: 50px;
        margin-bottom: 125px;
    }
    main > .p2 > .p2-a > article > h2{
        font: 600 normal 33px Inter;
        margin-bottom: 40px;
    }
    main > .p2 > .p2-a > article > p{
        font: 400 normal 16px Inter;
        text-align: justify;
        margin-bottom: 70px;
        line-height: 27px;
    }
    main > .p2 > .p2-a > img{
        width: 300px;
        margin-top: 50px;
    }
    main > .p2 > .p2-a > article > a{
        border-radius: 10px;
        padding: 20px 35px;
        font: 400 normal 14px Inter;
        text-decoration: none;
        color: white;
        background-color: #404E34;
    }
    main > .p2 > .p2-a > article > a:hover{
        background-color: #00A241;
        transition: 0.2s;
    }
    main > .p3 > .p3-a > article{
        width: 300px;
        margin-top: 50px;
    }
    main > .p3 > .p3-a > article > h2{
        font: 600 normal 33px Inter;
        margin-bottom: 40px;
    }
    main > .p3 > .p3-a > article > p{
        font: 400 normal 15px Inter;
        text-align: justify;
        margin-bottom: 70px;
        line-height: 27px;
    }
    main > .p3 > .p3-a > img{
        width: 300px;
        margin-top: 50px;
        border-radius: 10px;
    }
    main > .p3 > .p3-a > article > a{
        border-radius: 10px;
        padding: 20px 25px;
        font: 400 normal 15px Inter;
        text-decoration: none;
        color: white;
        background-color: #404E34;
    }
    main > .p3 > .p3-a > article > a:hover{
        background-color: #00A241;
        transition: 0.2s;
    }
    main > .p3 > .p3-a{
        width: 100vw;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        justify-items: center;
        background-color: white;
        margin: -150px 0px 100px 0px;
    }
    main > .p4 > .p4-a > article{
        width: 300px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    main > .p4 > .p4-a > article > h2{
        font: 600 normal 30px Inter;
        margin-bottom: 40px;
    }
    main > .p4 > .p4-a > article > p{
        font: 400 normal 15px Inter;
        text-align: justify;
        margin-bottom: 70px;
        line-height: 27px;
    }
    main > .p4 > .p4-a > img{
        width: 300px;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 300px;
    }
    main > .p4 > .p4-a > article > a{
        border-radius: 10px;
        padding: 20px 25px;
        font: 400 normal 16px Inter;
        text-decoration: none;
        color: white;
        background-color: #404E34;
    }
    main > .p4 > .p4-a > article > a:hover{
        background-color: #00A241;
        transition: 0.2s;
    }
    main > .p4 > .p4-a{
        width: 100vw;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        justify-items: center;
        margin-bottom: 100px;
        background-color: #8C9484;
    }
}